

h1 {
    font-size: 50px;
    font-family:  sans-serif;
    color:whitesmoke;
    text-align: left;
    padding-top: 50px;
    margin-top: 30%;

}
/* design for the navigation bar */
#header: { 
  background-color: #0000;
  color: whitesmoke;
  position: relative;
  font-size: 3px;
  z-index: 1;
}
#welcome { 
   background-color: white;
   box-shadow: azure;
   z-index: 4;
}
h2 {
    font-size: 20px;
    color:teal;
}

h6 {
    font-size: 10px;
    color: antiquewhite;
    font-family: sans-serif;
}

main{
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px 20px 40px;
}
.medium {
    font-size: 16px;
}
.uppercase {
    text-transform: uppercase;
}

body{
    margin:0;
    font-family: sans-serif;
    font-size: smaller;
}

.rightintext {
    color: whitesmoke;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20%;
}

.floatingcube {
    background-color: beige; /* beige */
    border: none;
    color: dimgray;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}

.button {
    background-color: beige; /* beige */
    font-family: sans-serif;
    border: none;
    color: dimgray;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

#button1 { 
    margin-top: 10%;

}
#button1:hover {
  transform: scale(1.1);
}


.lowuppercase {
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    color: antiquewhite;
    font-size: 10px;
    margin: 10px;
}

/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: rgb(19, 19, 19);
    opacity: 95%;
    z-index: 3;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: rgb(104, 101, 203);
    z-index: 2;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */
  .centered img {
    width: 300px;
    height: 300px;
    border-radius: 10%;
    margin-bottom: 20px;
    
  }

  /* Style transparent message box */
  .transparentprofile {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    text-align: center;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  .caption { 
    font-style: italic;
    font-weight: lighter;
    font-size: small;
  }

  #p1 { 
    font-style: bold;
    text-align: left;
    padding-left: 20px;
  }

/* Image inside the transparent box*/
  #imageface {
    float : left; /* put the image on the left automatically*/
    border-radius: 50%;
    max-width: 15px;
    max-height: 15px;
  }